
<div class="card-container">

    @for (produto of produtos; track $index) {
        <p-card
            [header]="produto.nome"
            [subheader]="produto.categorias[0]"
            [style]="{ width: '360px' }"
        >

        <ng-template pTemplate="header">
            <img alt="Card" src={{produto.img}} />
        </ng-template>

        <p class="card-content">$ {{produto.preco}}</p>

        <ng-template pTemplate="footer">
            @if (!this.carrinho.alreadyInCart(produto)) {
                <p-button
                    (onClick)="addProduto(produto)"
                    label="Adicionar ao Carrinho"
                    [style]="{ width: '100%' }"
                    outlined="true"
                    icon="pi pi-cart-plus"
                />
            } @else {
                <p-button
                    (onClick)="removeProduto(produto)"
                    severity="danger"
                    label="Remover do Carrinho"
                    [style]="{ width: '100%' }"
                    icon="pi pi-cart-minus"
                />
            }
        </ng-template>

    </p-card>
}

</div>

