
<div class="produtos-page">

    <div class="page-filters">

        <div class="categorias-lista">
            @for (categoria of categorias; track $index) {
                <p-button
                    (onClick)="filtrar(categoria.name)"
                    [label]="categoria.name"
                    [styleClass]="'filter-button sp-button ' + categoria.color"
                />
            }
        </div>
    </div>

    <div class="card-container">

        <div class="cards">
            @for (produto of produtos.items; track produto.id) {
                <p-card
                    class="card"
                    [header]="produto.nome"
                    [subheader]="produto.categorias[0]"
                >

                <ng-template pTemplate="header">
                    <img class="card-image" alt="Card" src={{produto.img}} />
                </ng-template>

                <div class="card-content-container">
                    <div class="star-rating">
                        <span [class]="getStarRating(produto.rating, 0.20)"></span>
                        <span [class]="getStarRating(produto.rating, 0.40)"></span>
                        <span [class]="getStarRating(produto.rating, 0.60)"></span>
                        <span [class]="getStarRating(produto.rating, 0.80)"></span>
                        <span [class]="getStarRating(produto.rating, 0.96)"></span>
                    </div>

                    <p class="card-content">$ {{produto.preco}}</p>

                </div>

                <ng-template pTemplate="footer">
                    @if (!this.carrinho.alreadyInCart(produto)) {
                        <p-button
                            (onClick)="addProduto(produto)"
                            label="Adicionar ao Carrinho"
                            [style]="{ width: '100%', padding: '0.55rem 0.85rem'}"
                            icon="pi pi-cart-plus"
                            [styleClass]="'filter-button sp-button sp-button-outlined'"
                        />
                    } @else {
                        <p-button
                            (onClick)="removeProduto(produto)"
                            severity="danger"
                            label="Remover do Carrinho"
                            [style]="{ width: '100%', padding: '0.55rem 0.85rem' }"
                            icon="pi pi-cart-minus"
                            [styleClass]="'filter-button sp-button sp-button-red'"
                        />
                    }
                </ng-template>
            </p-card>
        }
    </div>
        <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="0"
            [rows]="this.pageSize"
            [totalRecords]="produtos.totalItems"
            [rowsPerPageOptions]="[10, 20, 30]"
        />
    </div>
</div>
