<div class="nav sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">

            <a href="#" class="navbar-title navbar-brand logo float-left">
                <span style="white-space: pre;">PLACEHOLDER</span>
            </a>

            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav ms-auto text-left">
                    <li class="nav-item dropdown" id="perfil-item">
                        <p-button class="nav-button" iconPos="right" icon="pi pi-user" [rounded]="true" [text]="true"/>
                    </li>
                    <li class="nav-item">
                        <div>
                            <p-button
                                class="nav-button"
                                icon="pi pi-shopping-cart"
                                [rounded]="true"
                                (onClick)="toggleCarrinho()"
                                [text]="true"
                            />
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<app-carrinho></app-carrinho>