<div class="main-container">
  <div class="left-side">
    <div class="store-info">
      <h1>SavePoint Store</h1>
      <p>O Point do seu jogo favorito!</p>
    </div>
    <div class="game-images">
      <img src="out/275.jpg" alt="Red Dead Redemption 2">
      <img src="out/380.jpg" alt="God of War">
      <img src="out/307.jpg" alt="Dark Souls 3">
    </div>
  </div>

  <div class="right-side">
    <div class="login-form">
      <h2>Login</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Usuário</label>
          <input type="email" [(ngModel)]="username" name="username" placeholder="Digite seu Usuário">
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Digite sua senha">
        </div>
        <button type="submit" class="login-button">Acessar</button>
      </form>
    </div>
  </div>
</div>