<p-dialog
    header="MEU HISTÓRICO"
    [modal]="true"
    [(visible)]="isVisible"
    [dismissableMask]="true"
    [resizable]="false"
    [draggable]="false"
    [position]="'right'"
    [styleClass]="'dialogo'"
    >
    <p-divider type="solid" [style]="{marginTop: '0'}" />

    @if (historico !== null) {
      <div class="content">
          @for (pagamento of historico.pagamentos; track $index) {
            <div class="hists">
              <div class="hist-items">
                <span>Data: {{pagamento.dataCompra | date:  'dd/MM/yyyy'}}</span>
                <span>Método de Pagamento: {{pagamento.pagamento}}</span>
                <span>Itens: </span>
                @for (item of pagamento.produtos; track $index) {
                  <div class="with-price">
                    <span>{{item.nome}}</span>
                    <span>{{formatarPreco(item.preco)}}</span>
                  </div>
                }
              </div>

              <div class="with-price">
                <span>Subtotal do pedido:</span>
                <span>{{formatarPreco(pagamento.total)}}</span>
              </div>
            </div>
          }

      </div>
    }

</p-dialog>