/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.main {
    width: 1441px;
    /* max-width: 200rem; */
    margin-left: auto;
    margin-right: auto;
}

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    /* padding: 1rem; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-dialog-content {
    overflow-x: hidden;
}

.card-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.p-card-body .p-card-title {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.p-card-content {
    padding: 0%;
}

.p-card-footer {
    .pi {
        font-size: 1.2rem;
    }
    padding: 0%;
    font-size: 0.85rem;
}

.pi.pi-user, .pi.pi-shopping-cart {
    font-size: x-large;
    color: #ffffff;
}

.card-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-card .p-card-subtitle {
    font-size: 1rem;
}

.card-content {
    margin: 0;
}

.sp-button {
    border-radius: 3px;
    border: 0;
}

.sp-button-red {
    background: linear-gradient(#D00000, #B20000);
}

.sp-button-green {
    background: linear-gradient(#00BB10, #00840B);
}

.sp-button-blue {
    background: linear-gradient(#0095E0, #0074AF);
}

.sp-button-yellow {
    background: linear-gradient(#E7A200, #B88100);
}

.sp-button-orange {
    background: linear-gradient(#FF8400, #DE7300);
}

.sp-button-purple {
    background: linear-gradient(#BB00E0, #9E00BE);
}

.sp-button-outlined {
    background-color: transparent;
    color: #006CDA;
    border: 1px solid;
}

.sp-button-action {
    background: #006CDA;
}