/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-card-body .p-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card {
    background: var(--surface-card);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.p-card-content {
    padding: 0%;
}

.p-card-footer {
    padding: 0%;
}

.card-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-card .p-card-subtitle {
    font-size: medium;
}

.card-content {
    margin: 0;
}

.pi {
    font-size: 1.5rem;
}

.star-rating span {
    margin-right: 2px;  /* Adds a gap between each star */
    color: rgb(59, 130, 246);
}

.star-rating span:last-child {
    margin-right: 0;  /* Removes the margin from the last star */
}